<!-- <div class="row" style="margin-left: 2%; margin-right: 2%;">
    <div class="col-12"> -->
<div class="jk-footer-wrap">
    <div class="jk-version">
        <p>v1.0.0</p>
    </div>
    <div class="jk-socials">
        <i class="fab fa-discord jk-social-item"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-question jk-social-item"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-donate jk-social-item"></i>
    </div>
    <div class="jk-shape">
        <div class="jk-shape-item">
            <img class="jk-shape-bg" src="assets/img/shape.png" />
            <img class="jk-shape-bg jk-shape-girl" src="assets/img/girl.png" />
        </div>
    </div>
</div>
<!-- </div>
</div> -->