<div class="jk-news-block">
    <div class="jk-news-header">
        <i class="fas fa-circle"></i>
        <p>General</p>
        <i class="fas fa-circle"></i>
        <p>Shiro</p>
        <i class="fas fa-circle"></i>
        <p>30m ago</p>
    </div>
    <div class="jk-news-content">
        <h2>Welcome to Shiro's Community - Today</h2>
        <p>Hi there we are presenting you Shiro's Community
            today, if
            you
            are new please follow rules and do stuff to have at
            least
            two
            lines of description in this fuckin news :)</p>
    </div>
    <div class="jk-news-actives">
        <a href="#" class="jk-news-link"><i
                class="fas fa-angle-double-right"></i> View
            more</a>
    </div>
</div>
