<div class="jk-form-wrap">
    <div class="jk-form">
        <div class="jk-form-header">
            <p>Welcome to</p>
            <img src="assets/img/shiro.png" />
        </div>
        <form>
            <div class="jk-form-group">
                <label for="username"><i class="icon icon-boy"></i></label>
                <input type="text" class="jk-form-control" id="username" required>
            </div>
            <div class="jk-form-group">
                <label for="password"><i class="icon icon-key"></i></label>
                <input type="password" class="jk-form-control" id="password" required>
            </div>
            <div class="jk-form-addons">
                <div class="jk-form-text">
                    <p>Remember me</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="jk-form-text">
                    <p>Forgot password</p>
                </div>
            </div>
            <div class="jk-form-group">
                <button class="jk-button">Login</button>
            </div>
        </form>
        <div class="jk-form-breaker">
            <span>OR</span>
        </div>
        <div class="jk-form-register-info">
            <h5>Register new account</h5>
            <p>You're new on Shiro? Create new account to get access to all features!</p>
            <button class="jk-button">Go to Sign up form</button>
        </div>

    </div>
</div>