<div class="container-fluid jk-no-margin" style="min-height: 100vh;">
  <app-navigation></app-navigation>
  <div id="content" class="row jk-navbar-margin" style="min-height: 100vh;">
    <div class="col-12 col-sm-12 col-md-12"
      style="max-width: 2100px; margin: 0 auto; min-height: 100vh; position: relative;">
      <div class="jk-custom-loader" *ngIf="loading">
        <div class="jk-custom-loader-content">
          <span class="jk-loader"></span>
        </div>
      </div>
      <main style="width: 100%;">
        <router-outlet ></router-outlet>
      </main>
      <div style="min-height: 250px;"></div>
      <app-footer ></app-footer>
    </div>
  </div>
</div>