<div class="container-fluid jk-no-margin">
    <div class="row jk-bg-black" style="margin-top: 1%; margin-left: 2%; margin-right: 2%;">
        <div class="col-12">
            <div class="jk-section-header">
                <div class="jk-section-title">
                    <div class="jk-section-title-icon">
                        <i class="fas fa-search"></i>
                    </div>
                    <h6>What do you want to watch?</h6>
                </div>
            </div>
        </div>
        <div class="col-12">

            <form>
                <div class="jk-form">
                    <div class="jk-form-group">
                        <label for="search-input"><i class="icon icon-search"></i></label>
                        <input type="text" class="jk-form-control" id="search-input" required>
                    </div>
                    <div class="jk-form-group">
                        <div class="jk-input-dropdown">
                            <div class="jk-input-dropdown-head">
                                <p>Type</p>
                                <i class="fas fa-sort-up"></i>
                            </div>
                            <div class="jk-input-dropdown-content">
                                <ul>
                                    <li data-val="default">Type</li>
                                    <li data-val="Anime">Anime</li>
                                    <li data-val="Manga">Manga</li>
                                    <li data-val="Movie">Movie</li>
                                </ul>
                            </div>
                        </div>
                        <div class="jk-input-dropdown">
                            <div class="jk-input-dropdown-head">
                                <p>Status</p>
                                <i class="fas fa-sort-up"></i>
                            </div>
                        </div>
                        <div class="jk-input-dropdown">
                            <div class="jk-input-dropdown-head">
                                <p>Year</p>
                                <i class="fas fa-sort-up"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>